


@font-face {
    font-family: $ff-SeogoeUIRegular;
    src: url(../fonts/segoe/SegoeUI-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-SeogoeUIBold;
    src: url(../fonts/segoe/SegoeUI-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


